<section class="page">
    <div class="hero-outer">
        <div class="hero">
            <h1>Statistics</h1>
            <p>Ping’s statistics including total number of checks, new websites added, new users, etc.</p>
        </div>
    </div>
    <div class="content">
        <!--<h1>Last Week</h1>-->
        <!--<div class="row feature-cards">-->
        <!--<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">-->
        <!--    <div class="card">-->
        <!--        <div class="card-header">-->
        <!--            0-->
        <!--        </div>-->
        <!--        <div class="card-block">-->
        <!--            <div class="card-text">-->
        <!--                New Users-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div>-->
        
        <!--<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">-->
        <!--    <div class="card">-->
        <!--        <div class="card-header">-->
        <!--            8-->
        <!--        </div>-->
        <!--        <div class="card-block">-->
        <!--            <div class="card-text">-->
        <!--                New Websites-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div>-->
        
        <!--<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">-->
        <!--    <div class="card">-->
        <!--        <div class="card-header">-->
        <!--            178,339-->
        <!--        </div>-->
        <!--        <div class="card-block">-->
        <!--            <div class="card-text">-->
        <!--                Checks-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div>-->
        <!--</div>-->
        
        <h1>All Time</h1>
        <div class="row feature-cards">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    3
                </div>
                <div class="card-block">
                    <div class="card-text">
                        Total Users
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    18
                </div>
                <div class="card-block">
                    <div class="card-text">
                        Total Websites
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    291,103
                </div>
                <div class="card-block">
                    <div class="card-text">
                        Total Checks
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    37.4 Mb
                </div>
                <div class="card-block">
                    <div class="card-text">
                        Total Data Stored
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    2.4 GB
                </div>
                <div class="card-block">
                    <div class="card-text">
                        Bandwidth Used
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    3,000
                </div>
                <div class="card-block">
                    <div class="card-text">
                        Notifications Sent
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>