<section class="page">
    <div class="hero-outer">
        <div class="hero">
            <h1>404; not found</h1>
            <p>We didn&rsquo;t find &ldquo;{{ currentURL }}&rdquo; our servers. Sorry. Check if the URL you entered is correct and has no typos. If you know there is supposed to be something here, please email <a href="mailto:hawk@akaanksh.ga">hawk@akaanksh.ga</a></p>
            <div class="btn-group">
                <a href="/signup" routerLink="/signup" class="btn">Sign up</a>
                <a href="/login/new" routerLink="/login/new" class="btn btn-primary">Login &rarr;</a>
            </div>
        </div>
    </div>
</section>