<section class="page">
    <div class="hero-outer">
        <div class="hero">
            <h1>Hawk&rsquo;s Bot</h1>
            <p>About Hawk’s bot and ways to report abuse.</p>
        </div>
    </div>
    <div class="content">
        <h3>Report Abuse:</h3>
        <ul class="list">
            <li>If you don&rsquo;t have your website on Hawk, and no longer want our bots to check on your website, instead of banning our bot&rsquo;s IPs, please email <a href="mailto:contact@usehawk.ga">contact@usehawk.ga</a> with the following:</li>
            <ul class="list">
                <li>Proof of ownership (email us from the domain, or upload a file with a hash we provide)</li>
                <li>Proof of abuse (access logs will work)</li>
            </ul>
        </ul>
        <h3>About Hawk&rsquo;s bot:</h3>
        <ul class="list">
            <li>User-Agent: <code class="lang-html">Mozilla/5.0 (compatible; Hawk Bot/1.0; Report Abuse at: +https://usehawk.ga/bot)</code></li>
            <li>JavaScript: not enabled</li>
            <li>Timeout: 25 seconds</li>
            <li>Number of Redirects Hawk will follow: 15</li>
            <li>Cache: Delete after visiting</li>
        </ul>
        <p>If you have any questions, please email: <a href="mailto:contact@usehawk.ga">contact@usehawk.ga</a></p>
    </div>
</section>