<section class="page">
    <div class="hero-outer">
        <div class="hero">
            <h1>Sponsor Us</h1>
            <p>Options for companies/individuals to sponsor us.</p>
        </div>
    </div>
    <div class="content">
        <h3>What Ping needs now:</h3>
        <ul class="list">
            <li>A fast and reliable mySQL service provider with lots of storage</li>
            <li>A fast and reliable CDN</li>
            <li>Server that can perform cURL requests in China</li>
            <li>Server that can perform cURL requests in Japan</li>
            <li>Server that can perform cURL requests in Russia</li>
            <li>Server that can perform cURL requests in South American Countries</li>
            <li>Server that can perform cURL requests in Africa Countries</li>
            <li>Server that can perform cURL requests in Europian Countries</li>
        </ul>
        <h3>What you’ll get in return:</h3>
        <ul class="list">
            <li>Get featured on the home page and a sponsors page</li>
            <li>Ads on the dashboard featuring something</li>
        </ul>
        <p>If you are willing to sponsor us, please email: contact@useping.ga</p>
    </div>
</section>