<section class="page">
    <div class="hero-outer">
        <div class="hero">
            <h1>Hawk <i>Pro</i></h1>
            <p>About Hawk&rsquo;s Pro plan</p>
        </div>
    </div>
    <div class="content">
        <h3>Hawk <i>Pro</i>:</h3>
        <p>We are considering introducing a Pro version of Hawk. Pro will be based on a pay-for-what-you-use at: $0.00002 per interval per check. <b>But if we get a <a href="/sponsor" routerLink="s/ponsor">sponsor</a>, it will be free for everone and all of Hawk will be open sourced.</b> Anyways, Pro will have features like:</p>
        <ul class="list">
            <li>Custom intervals for checks</li>
            <li>Collect data from real browsers, like:</li>
            <ul class="list">
                <li>Image Compare for each check</li>
                <li>Saves Screenshot when an outage occurs</li>
                <li>Super-detailed analytics, with waterfall charts for each check</li>
                <li>SMS Notifications</li>
            </ul>
            <li>More regions</li>
            <li>AWS Servers</li>
            <li>DNS Logs for each check</li>
            <li>PageFire: Basically Google Analytics, but powered by Hawk</li>
            <li>Insights: Analyzes page to help you recognize things you can fix</li>
            <li>GitHub commit ingeration with graph</li>
            <li>Custom validators @ $1/validator/month</li>
            <ul class="list">
                <li>Custom Errors for HTTP codes</li>
                <li>DNS rollback when down</li>
                <li>Show custom code when down</li>
                <li>GitHub commit rollback when down</li>
                <li>Webhooks</li>
            </ul>
            <li>DoThis @ $1/month: allows you to tell the browser what to do; and if it fails, we&rsquo;ll alert you. One custom validator included.</li>
            <li>Monitor resources (CSS, JS, PNG, JPG, GIF) for each check.</li>
        </ul>
        <p>We haven&rsquo;t started developement yet, but we have a plan. We&rsquo;ll start developement if we get enough intrest. Anyhow, here&rsquo;s the good news: there will be an alpha and beta for Pro, which you can test for free. So please <a href="https://docs.google.com/forms/d/e/1FAIpQLSfstGI8II-4zHfAJH5fCRSeKGoukHTvgWcN_rxxwjtP3zKXMQ/viewform" target="_blank">express your intrest</a>.</p>
    </div>
</section>