.clr-icon {
  &.clr-ping-logo {
      background-image: url(../images/logo_white.svg);
      height: 28px;
  }
}
@media screen and (max-width: 768px) {
  .clr-icon {
    &.clr-ping-logo {
        background-image: url(../images/logo_blue.svg);
        height: 28px;
    }
  }
}
.content-container {
  .content-area {
    padding: 0;
  }
}