<section class="page">
    <div class="hero-outer">
        <div class="hero">
            <h1>Privacy Policy</h1>
            <p>Ping’s official Privacy Policy.</p>
        </div>
    </div>
    <div class="content">
        <h3>Our privacy policy is as follows:</h3>
        <ul class="list">
            <li>We will never share any data, including emails or passwords with anyone</li>
            <li>We will only send you emails about the following:</li>
            <ul class="list">
                <li>Latency notifications</li>
                <li>Status notifications</li>
                <li>SSL notifications</li>
                <li>Updates to Ping</li>
                <li>Emergency Announcements</li>
            </ul>
            <li>All your passwords are encrypted and hashed</li>
            <li>We may change the Privacy Policy at any time, with or without notifying you. By signing up, you agree to our privacy policy.</li>
        </ul>
        <p>If you have any questions, please email: <a href="mailto:contact@useping.ga">contact@useping.ga</a></p>
    </div>
</section>