<section class="page">
    <div class="hero-outer">
        <div class="hero">
            <h1>Privacy Policy</h1>
            <p>Ping’s official Privacy Policy.</p>
        </div>
    </div>
    <div class="content">
        <h3>Our privacy policy is as follows:</h3>
        <ul class="list">
            <li>We will never share any data, including emails or passwords with anyone</li>
            <li>We will post JSON files every week of the data we archive from the database; you may opt out of this if you own the website by emailing: contact@ping.usehype.ga</li>
            <li>We will never send you any other emails other than latency threshold notifications and website down notifications without your consent</li>
            <li>All your passwords are SHA-512 encrypted</li>
            <li>We may change the Privacy Policy at any time, with or without notifying you. By continuing to use our services, you agree to use our privacy policy.</li>
        </ul>
        <p>If you have any questions, please email: contact@useping.ga</p>
    </div>
</section>