.page .loader {
  height: 91vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
  padding: 0 1rem;
}
.page .loader p {
  margin: 0;
  text-align: center;
}
.page .hero-outer {
  height: 40vh;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.page .hero-outer .hero {
  font-weight: 600;
  margin: 0 0 0 2rem;
}
.page .hero-outer .hero p {
  max-width: 600px;
  margin: 0.7rem auto 1rem auto;
}
.page .overview .good {
  background-size: cover;
  background-position: center;
  background-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23ffffff' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ffffff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f6fff7' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23edffef' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23e4ffe7' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23daffdf' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d1ffd7' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23c7ffce' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23bdffc6' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b2ffbe' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a7feb6' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%239cfeae' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2390fda6' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2383fd9e' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2375fc96' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2365fb8d' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2353fb85' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%233bfa7d' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%230cf974' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E);
}
.page .overview .bad {
  background-size: cover;
  background-position: center;
  background-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23ffffff' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ffffff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fff5f2' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23ffebe6' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ffe1d9' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23ffd8cd' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23ffcec1' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23ffc4b5' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23ffbaa9' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23fdb09d' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23fba691' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23f99d86' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23f7937a' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23f4896f' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23f17e64' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23ee7459' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23eb694e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23e75e43' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23e35338' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E);
}
.page .overview .feature-cards {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.page .overview .feature-cards .col-lg-4 .card .card-header h3 {
  margin: 0;
  cursor: help;
}
.page .overview .feature-cards .col-lg-4 .card .card-header h3 input {
  border: none;
  line-height: 1;
  cursor: help;
  text-overflow: ellipsis;
}
.page .overview .feature-cards .col-lg-4 .card .card-title h3 {
  margin: 0;
  cursor: help;
  cursor: initial;
}
.page .overview .feature-cards .col-lg-4 .card .card-title h3 input {
  border: none;
  line-height: 1;
  cursor: help;
  text-overflow: ellipsis;
}
.page .overview .feature-cards .col-lg-4 .card .card-footer .btn {
  color: #ababab;
  cursor: help;
}
.page .overview .feature-cards .col-lg-4 .card .card-footer .btn:nth-child(2) {
  float: right;
  margin: 0;
}
.page .overview .feature-cards .col-lg-4 .card.Up .card-header h3 input {
  color: #2cf974;
}
.page .overview .feature-cards .col-lg-4 .card.Up:hover {
  border: 1px solid #2cf974;
  box-shadow: 0 0.125rem 0 0 #2cf974;
  -webkit-box-shadow: 0 0.125rem 0 0 #2cf974;
}
.page .overview .feature-cards .col-lg-4 .card.Up:focus {
  outline: none;
}
.page .overview .feature-cards .col-lg-4 .card.Down .card-header h3 input {
  color: #e35338;
}
.page .overview .feature-cards .col-lg-4 .card.Down:hover {
  border: 1px solid #e35338;
  box-shadow: 0 0.125rem 0 0 #e35338;
  -webkit-box-shadow: 0 0.125rem 0 0 #e35338;
}
.page .overview .feature-cards .col-lg-4 .card.Down:focus {
  outline: none;
}
.page .overview .feature-cards .col-lg-4 .card.Timeout .card-header h3 input {
  color: #e35338;
}
.page .overview .feature-cards .col-lg-4 .card.Timeout:hover {
  border: 1px solid #e35338;
  box-shadow: 0 0.125rem 0 0 #e35338;
  -webkit-box-shadow: 0 0.125rem 0 0 #e35338;
}
.page .overview .feature-cards .col-lg-4 .card.Timeout:focus {
  outline: none;
}
.page .overview .feature-cards .col-lg-3 .card .card-header h3 {
  margin: 0;
  cursor: help;
}
.page .overview .feature-cards .col-lg-3 .card .card-header h3 input {
  border: none;
  line-height: 1;
  cursor: help;
  text-overflow: ellipsis;
}
.page .overview .feature-cards .col-lg-3 .card .card-title h3 {
  margin: 0;
  cursor: help;
  cursor: initial;
}
.page .overview .feature-cards .col-lg-3 .card .card-title h3 input {
  border: none;
  line-height: 1;
  cursor: help;
  text-overflow: ellipsis;
}
.page .overview .feature-cards .col-lg-3 .card .card-footer .btn {
  color: #ababab;
  cursor: help;
}
.page .overview .feature-cards .col-lg-3 .card .card-footer .btn:nth-child(2) {
  float: right;
  margin: 0;
}
.page .overview .feature-cards .col-lg-3 .card.Up .card-header h3 input {
  color: #2cf974;
}
.page .overview .feature-cards .col-lg-3 .card.Up:hover {
  border: 1px solid #2cf974;
  box-shadow: 0 0.125rem 0 0 #2cf974;
  -webkit-box-shadow: 0 0.125rem 0 0 #2cf974;
}
.page .overview .feature-cards .col-lg-3 .card.Up:focus {
  outline: none;
}
.page .overview .feature-cards .col-lg-3 .card.Down .card-header h3 input {
  color: #e35338;
}
.page .overview .feature-cards .col-lg-3 .card.Down:hover {
  border: 1px solid #e35338;
  box-shadow: 0 0.125rem 0 0 #e35338;
  -webkit-box-shadow: 0 0.125rem 0 0 #e35338;
}
.page .overview .feature-cards .col-lg-3 .card.Down:focus {
  outline: none;
}
.page .overview .feature-cards .col-lg-3 .card.Timeout .card-header h3 input {
  color: #e35338;
}
.page .overview .feature-cards .col-lg-3 .card.Timeout:hover {
  border: 1px solid #e35338;
  box-shadow: 0 0.125rem 0 0 #e35338;
  -webkit-box-shadow: 0 0.125rem 0 0 #e35338;
}
.page .overview .feature-cards .col-lg-3 .card.Timeout:focus {
  outline: none;
}
.page .overview h1 {
  max-width: 1060px;
  margin: 20px auto 0;
  padding: 0 0 0 12px;
}
.page .notfound .hero-outer {
  height: 85vh;
}
.page .more .good {
  background-size: cover;
  background-position: center;
  background-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23ffffff' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ffffff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f6fff7' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23edffef' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23e4ffe7' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23daffdf' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d1ffd7' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23c7ffce' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23bdffc6' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b2ffbe' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a7feb6' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%239cfeae' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2390fda6' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2383fd9e' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2375fc96' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2365fb8d' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2353fb85' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%233bfa7d' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%230cf974' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E);
}
.page .more .bad {
  background-size: cover;
  background-position: center;
  background-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23ffffff' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ffffff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fff5f2' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23ffebe6' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ffe1d9' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23ffd8cd' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23ffcec1' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23ffc4b5' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23ffbaa9' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23fdb09d' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23fba691' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23f99d86' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23f7937a' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23f4896f' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23f17e64' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23ee7459' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23eb694e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23e75e43' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23e35338' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E);
}
.page .more .feature-cards {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.page .more .feature-cards .col-lg-4 .card .card-header h3 {
  margin: 0;
  cursor: help;
}
.page .more .feature-cards .col-lg-4 .card .card-header h3 input {
  border: none;
  line-height: 1;
  cursor: help;
  text-overflow: ellipsis;
}
.page .more .feature-cards .col-lg-4 .card .card-title h3 {
  margin: 0;
  cursor: help;
  cursor: initial;
}
.page .more .feature-cards .col-lg-4 .card .card-title h3 input {
  border: none;
  line-height: 1;
  cursor: help;
  text-overflow: ellipsis;
}
.page .more .feature-cards .col-lg-4 .card .card-footer .btn {
  color: #ababab;
  cursor: help;
}
.page .more .feature-cards .col-lg-4 .card .card-footer .btn:nth-child(2) {
  float: right;
  margin: 0;
}
.page .more .feature-cards .col-lg-4 .card.Up .card-header h3 input {
  color: #2cf974;
}
.page .more .feature-cards .col-lg-4 .card.Up:hover {
  border: 1px solid #2cf974;
  box-shadow: 0 0.125rem 0 0 #2cf974;
  -webkit-box-shadow: 0 0.125rem 0 0 #2cf974;
}
.page .more .feature-cards .col-lg-4 .card.Up:focus {
  outline: none;
}
.page .more .feature-cards .col-lg-4 .card.Down .card-header h3 input {
  color: #e35338;
}
.page .more .feature-cards .col-lg-4 .card.Down:hover {
  border: 1px solid #e35338;
  box-shadow: 0 0.125rem 0 0 #e35338;
  -webkit-box-shadow: 0 0.125rem 0 0 #e35338;
}
.page .more .feature-cards .col-lg-4 .card.Down:focus {
  outline: none;
}
.page .more .feature-cards .col-lg-4 .card.Timeout .card-header h3 input {
  color: #e35338;
}
.page .more .feature-cards .col-lg-4 .card.Timeout:hover {
  border: 1px solid #e35338;
  box-shadow: 0 0.125rem 0 0 #e35338;
  -webkit-box-shadow: 0 0.125rem 0 0 #e35338;
}
.page .more .feature-cards .col-lg-4 .card.Timeout:focus {
  outline: none;
}
.page .more .feature-cards .col-lg-3 .card .card-header h3 {
  margin: 0;
  cursor: help;
}
.page .more .feature-cards .col-lg-3 .card .card-header h3 input {
  border: none;
  line-height: 1;
  cursor: help;
  text-overflow: ellipsis;
}
.page .more .feature-cards .col-lg-3 .card .card-title h3 {
  margin: 0;
  cursor: help;
  cursor: initial;
}
.page .more .feature-cards .col-lg-3 .card .card-title h3 input {
  border: none;
  line-height: 1;
  cursor: help;
  text-overflow: ellipsis;
}
.page .more .feature-cards .col-lg-3 .card .card-footer .btn {
  color: #ababab;
  cursor: help;
}
.page .more .feature-cards .col-lg-3 .card .card-footer .btn:nth-child(2) {
  float: right;
  margin: 0;
}
.page .more .feature-cards .col-lg-3 .card.Up .card-header h3 input {
  color: #2cf974;
}
.page .more .feature-cards .col-lg-3 .card.Up:hover {
  border: 1px solid #2cf974;
  box-shadow: 0 0.125rem 0 0 #2cf974;
  -webkit-box-shadow: 0 0.125rem 0 0 #2cf974;
}
.page .more .feature-cards .col-lg-3 .card.Up:focus {
  outline: none;
}
.page .more .feature-cards .col-lg-3 .card.Down .card-header h3 input {
  color: #e35338;
}
.page .more .feature-cards .col-lg-3 .card.Down:hover {
  border: 1px solid #e35338;
  box-shadow: 0 0.125rem 0 0 #e35338;
  -webkit-box-shadow: 0 0.125rem 0 0 #e35338;
}
.page .more .feature-cards .col-lg-3 .card.Down:focus {
  outline: none;
}
.page .more .feature-cards .col-lg-3 .card.Timeout .card-header h3 input {
  color: #e35338;
}
.page .more .feature-cards .col-lg-3 .card.Timeout:hover {
  border: 1px solid #e35338;
  box-shadow: 0 0.125rem 0 0 #e35338;
  -webkit-box-shadow: 0 0.125rem 0 0 #e35338;
}
.page .more .feature-cards .col-lg-3 .card.Timeout:focus {
  outline: none;
}
.page .more .body {
  max-width: 1080px;
  margin: 0.7rem auto 1rem auto;
  padding: 0 1rem;
}
.page .more .body .pc-tab > input {
  display: none;
}
.page .more .body .pc-tab section > div {
  display: none;
}
.page .more .body .pc-tab nav ul {
  list-style-type: none;
  display: flex;
  height: 1.5rem;
  list-style-type: none;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: inset 0 -1px 0 #ccc;
  margin: 0;
  width: 100%;
  white-space: nowrap;
}
.page .more .body .pc-tab nav ul label {
  display: inline-block;
  margin-right: 1rem;
}
.page .more .body #tab1:checked ~ section .tab1 {
  display: block;
  padding: 0 30px;
}
.page .more .body #tab1:checked ~ nav .tab1 {
  color: black;
  box-shadow: inset 0 -3px 0 #007cbb;
  transition: box-shadow .2s ease-in;
}
.page .more .body #tab1 ~ nav .tab1 {
  cursor: pointer;
  padding: 0 2px;
  line-height: 2.5;
}
.page .more .body #tab1 ~ nav .tab1:hover {
  box-shadow: inset 0 -3px 0 #007cbb;
  transition: box-shadow .2s ease-in;
}
.page .more .body #tab2:checked ~ section .tab2 {
  display: block;
  padding: 0 30px;
}
.page .more .body #tab2:checked ~ nav .tab2 {
  color: black;
  box-shadow: inset 0 -3px 0 #007cbb;
  transition: box-shadow .2s ease-in;
}
.page .more .body #tab2 ~ nav .tab2 {
  cursor: pointer;
  padding: 0 2px;
  line-height: 2.5;
}
.page .more .body #tab2 ~ nav .tab2:hover {
  box-shadow: inset 0 -3px 0 #007cbb;
  transition: box-shadow .2s ease-in;
}
.page .more .body #tab3:checked ~ section .tab3 {
  display: block;
  padding: 0 30px;
}
.page .more .body #tab3:checked ~ nav .tab3 {
  color: black;
  box-shadow: inset 0 -3px 0 #007cbb;
  transition: box-shadow .2s ease-in;
}
.page .more .body #tab3 ~ nav .tab3 {
  cursor: pointer;
  padding: 0 2px;
  line-height: 2.5;
}
.page .more .body #tab3 ~ nav .tab3:hover {
  box-shadow: inset 0 -3px 0 #007cbb;
  transition: box-shadow .2s ease-in;
}
.page .more .body #lookupLineChart {
  margin-top: 1rem;
}
.page .add .login-wrapper {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.page .add .login-wrapper .login .title {
  font-weight: 900;
}
.page .add .login-wrapper .login .title .hint {
  margin-top: 0.25rem;
}
.page .add .login-wrapper .login .login-group {
  padding: 1rem 0 0 0;
}
.page .add .login-wrapper .login .login-group .form-group {
  padding-left: 0;
  flex-flow: column wrap;
}
.page .add .login-wrapper .login .login-group .form-group p {
  margin-top: 0;
}
.page .add .login-wrapper .login .login-group .form-group label input {
  width: 100%;
}

@media (max-width: 992px) {
  .page .overview .hero-outer .hero {
    margin: 0;
  }
  .page .overview .feature-cards {
    margin: 20px 1rem 0 1rem;
  }
  .page .overview h1 {
    margin: 20px 1rem 0 1rem;
  }
  .page .notfound .hero-outer .hero, .page .add .hero-outer .hero {
    margin: 0;
  }
  .page .more .hero-outer .hero {
    margin: 0;
  }
  .page .more .feature-cards {
    margin: 20px 1rem 0 1rem;
  }
}
