<section class="page">
    <div class="loader" [hidden]="!loading">
        <span class="spinner" [hidden]="errorDisplay">Loading...</span><br>
        <p [hidden]="errorDisplay">Loading</p>

        <clr-alert [clrAlertClosable]="false" [hidden]="!errorDisplay" [clrAlertType]="'alert-danger'">
            <div clr-alert-item class="alert-item alert-danger">
                <span class="alert-text">
                    {{ errorMsg }}
                </span>
                <div class="alert-actions">
                    <clr-dropdown>
                        <button class="dropdown-toggle" clrDropdownTrigger>
                            Actions
                            <clr-icon shape="caret down"></clr-icon>
                        </button>
                        <clr-dropdown-menu clrPosition="bottom-right">
                            <a href="javascript://" class="dropdown-item" onclick="window.location.reload()" clrDropdownItem>Try again now</a>
                        </clr-dropdown-menu>
                    </clr-dropdown>
                </div>
            </div>
        </clr-alert>
    </div>

    <div class="account" [hidden]="!accountDisplay">
        <div class="hero-outer">
            <div class="hero">
                <h1>Account Settings - Soon</h1>
                <p>Manage your password and notification settings</p>
            </div>
        </div>
        <div class="content">
            <form class="form" [formGroup]="passwordChange" (ngSubmit)="passwordChangeTo(passwordChange.value)">
                <section class="form-block">
                    <label class="main">Change Password</label>
                    <div class="form-group">
                        <label for="currentPassword">Current Password</label>
                        <label for="currentPassword"
                            aria-haspopup="true"
                            role="tooltip"
                            class="tooltip tooltip-top-left tooltip-validation tooltip-sm"
                            [class.invalid]="passwordChange.get('currentPassword').invalid
                                && (passwordChange.get('currentPassword').dirty || passwordChange.get('currentPassword').touched)">
                            <input type="password" placeholder="Soon to be changed" formControlName="currentPassword">
                            <span class="tooltip-content">
                                Enter current password.
                            </span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <label for="newPassword"
                            aria-haspopup="true"
                            role="tooltip"
                            class="tooltip tooltip-top-left tooltip-validation tooltip-sm"
                            [class.invalid]="passwordChange.get('passwordChangeToThis').invalid
                                && (passwordChange.get('passwordChangeToThis').dirty || passwordChange.get('passwordChangeToThis').touched)">
                            <input type="password" placeholder="This will be new" formControlName="passwordChangeToThis">
                            <span class="tooltip-content">
                                A new password is required.
                            </span>
                        </label>
                    </div>
                    <button class="btn btn-primary" type="submit"
                        [disabled]="passwordChange.invalid">{{passwordChangeButton}}</button>
                </section>
            </form>
            <form class="form" [formGroup]="passwordChange" (ngSubmit)="passwordChangeTo(passwordChange.value)">
                <section class="form-block">
                    <label class="main">Notification Settings</label>
                    <p>Coming Soon</p>
                    <!--<div class="form-group">-->
                    <!--    <label for="currentPassword">Current Password</label>-->
                    <!--    <label for="currentPassword"-->
                    <!--        aria-haspopup="true"-->
                    <!--        role="tooltip"-->
                    <!--        class="tooltip tooltip-top-left tooltip-validation tooltip-sm"-->
                    <!--        [class.invalid]="passwordChange.get('currentPassword').invalid-->
                    <!--            && (passwordChange.get('currentPassword').dirty || passwordChange.get('currentPassword').touched)">-->
                    <!--        <input type="password" placeholder="Soon to be changed" formControlName="currentPassword">-->
                    <!--        <span class="tooltip-content">-->
                    <!--            Enter current password.-->
                    <!--        </span>-->
                    <!--    </label>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--    <label for="newPassword">New Password</label>-->
                    <!--    <label for="newPassword"-->
                    <!--        aria-haspopup="true"-->
                    <!--        role="tooltip"-->
                    <!--        class="tooltip tooltip-top-left tooltip-validation tooltip-sm"-->
                    <!--        [class.invalid]="passwordChange.get('passwordChangeToThis').invalid-->
                    <!--            && (passwordChange.get('passwordChangeToThis').dirty || passwordChange.get('passwordChangeToThis').touched)">-->
                    <!--        <input type="password" placeholder="This will be new" formControlName="passwordChangeToThis">-->
                    <!--        <span class="tooltip-content">-->
                    <!--            A new password is required.-->
                    <!--        </span>-->
                    <!--    </label>-->
                    <!--</div>-->
                    <!--<button class="btn btn-primary" type="submit"-->
                    <!--    [disabled]="passwordChange.invalid">{{passwordChangeButton}}</button>-->
                </section>
            </form>
            <!--<form class="form" [formGroup]="emailChange" (ngSubmit)="emailChangeTo(emailChange.value)">-->
            <!--    <section class="form-block">-->
            <!--        <label class="main">Change Email</label>-->
            <!--        <div class="form-group">-->
            <!--            <label for="currentEmail">Current Email</label>-->
            <!--            <label for="currentEmail" aria-haspopup="true" role="tooltip" class="tooltip tooltip-top-left tooltip-validation tooltip-sm"-->
            <!--                [class.invalid]="emailChange.get('currentEmail').invalid-->
            <!--                    && (emailChange.get('currentEmail').dirty || emailChange.get('currentEmail').touched)">-->
            <!--                <input type="email" placeholder="myCurrentEmail@domain.tld" spellcheck="false" formControlName="currentEmail">-->
            <!--                <span class="tooltip-content">-->
            <!--                    Email is required and must be valid.-->
            <!--                </span>-->
            <!--            </label>-->
            <!--        </div>-->
            <!--        <div class="form-group">-->
            <!--            <label for="newEmail">New Email</label>-->
            <!--            <label for="newEmail" aria-haspopup="true" role="tooltip" class="tooltip tooltip-top-left tooltip-validation tooltip-sm"-->
            <!--                [class.invalid]="emailChange.get('emailChangeToThis').invalid-->
            <!--                    && (emailChange.get('emailChangeToThis').dirty || emailChange.get('emailChangeToThis').touched)">-->
            <!--                <input type="email" placeholder="myOtherEmail@domain.tld" spellcheck="false" formControlName="emailChangeToThis">-->
            <!--                <span class="tooltip-content">-->
            <!--                    Email is required and must be valid.-->
            <!--                </span>-->
            <!--            </label>-->
            <!--        </div>-->
            <!--        <button class="btn btn-primary" type="submit" [disabled]="emailChange.invalid">{{emailControlButton}}</button>-->
            <!--    </section>-->
            <!--</form>-->
        </div>
    </div>

    <div class="overview" [hidden]="!overviewDisplay">
        <div class="hero-outer {{dashboardClass}}">
            <div class="hero">
                <h1>{{ dashboardStatus }}</h1>
                <p>{{ dashboardSub }}</p>
            </div>
        </div>

        <h1>Websites</h1>
        <div class="row feature-cards">
            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12" *ngFor="let item of reqData; let i = index" [attr.data-index]="i">
                <div class="card {{item[0]['data']['us-status']}} {{item[0]['data']['ie-status']}}">
                    <div class="card-header">
                        <a routerLink="/dashboard/{{item['id']}}" title="URL: {{ item['site'] }} 
Click to view more stats"><input value="{{ item['name'] }}" readonly></a>
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            <div class="pc-tab">
                                <input checked="checked" class="tab1" id="{{ item['id'] }}1" type="radio" name="{{ item['id'] }}">
                                <input class="tab2" id="{{ item['id'] }}2" type="radio" name="{{ item['id'] }}">
                                <nav>
                                    <ul>
                                        <label for="{{ item['id'] }}1">
                                            <li class="tab1 {{item[0]['data']['us-status']}}" title="Data from: United States">US</li>
                                        </label>
                                        <label for="{{ item['id'] }}2">
                                            <li class="tab2 {{item[0]['data']['ie-status']}}" title="Data from: Ireland">IE</li>
                                        </label>
                                    </ul>
                                </nav>
                                
                                <section>
                                    <div class="tab1">Status: {{ item[0]["data"]["us-status"] }}; {{ item[0]["data"]["us-code"] }}<br>Uptime: {{ item['us-uptime'] }}%<br>Apdex: {{ item['us-apd'] }}<br>Latency: {{ item[0]["data"]["us-latency"] }}ms @ {{ item[0]["data"]["us-speed"] }}mbps<br>SSL Expiry: {{ sslTimes['us'][i] }}</div>
                                    <div class="tab2">Status: {{ item[0]["data"]["ie-status"] }}; {{ item[0]["data"]["ie-code"] }}<br>Uptime: {{ item['ie-uptime'] }}%<br>Apdex: {{ item['ie-apd'] }}<br>Latency: {{ item[0]["data"]["ie-latency"] }}ms @ {{ item[0]["data"]["ie-speed"] }}mbps<br>SSL Expiry: {{ sslTimes['ie'][i] }}</div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a title="Check number & time of check" class="btn btn-sm btn-link">#{{ item[0]["data"]["id"] }} - {{ localTimes[i] }}</a>
                        <a routerLink="/dashboard/{{item['id']}}" title="URL: {{ item['site'] }} 
Click to view more stats" class="btn btn-sm btn-link">more <clr-icon shape="arrow right" style="width:14px;height:14px;"></clr-icon></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12 addSite">
                <div class="card">
                    <div class="card-header">
                        <a href="/dashboard/add" routerLink="/dashboard/add">New check <clr-icon shape="arrow right" style="width:24px;height:24px;"></clr-icon></a>
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            Thanks for using Hawk! We’d really appreciate it if you could donate: <a class="plain" href="https://paypal.me/akaankshraj/5" target="_blank">via PayPal</a> or <a class="plain" href="https://www.buymeacoffee.com/ark">buy me a coffee</a> which will help keep things free, also, please share it with others and <a class="plain" href="https://akaanksh.ga/" target="_blank">checkout my website</a>.<br><a href="/stats" routerLink="/stats">View Hawk’s statistics</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button title="Current Version" class="btn btn-sm btn-link">v1.8.0</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="notfound" [hidden]="!notfoundDisplay">
        <div class="hero-outer">
            <div class="hero">
                <h1>404; not found</h1>
                <p>We didn&rsquo;t find &ldquo;{{ currentURL }}&rdquo; our servers. Sorry. Check if the URL you entered is correct and has no typos. If you know there is supposed to be something here, please email <a href="mailto:hawk@akaanksh.ga">hawk@akaanksh.ga</a></p>
                <div class="btn-group">
                    <a href="/dashboard/add" routerLink="/dashboard/add" class="btn">Add check</a>
                    <a href="/dashboard/overview" routerLink="/dashboard/overview" class="btn btn-primary">Dashboard &rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="more" [hidden]="!moreDisplay">
        <header class="header-7">
            <div class="branding">
                <a href="/dashboard/overview" routerLink="/dashboard/overview" class="nav-link">
                    <clr-icon shape="arrow" size="18" dir="left" style="color: #fafafa"></clr-icon>
                    <span class="title">Back to Dashboard</span>
                </a>
            </div>
            <div class="header-actions">
            </div>
        </header>
        <div class="hero-outer {{ overviewStatus }}">
            <div class="hero">
                <h1>{{ moreName }}’s Analytics</h1>
                <p>{{ overviewSub }}</p>
            </div>
        </div>
        <div class="body">

            <div class="pc-tab">
                <input checked="checked" id="tab1" type="radio" name="pct">
                <input id="tab2" type="radio" name="pct">
                <input id="tab3" type="radio" name="pct">
                <input id="tab4" type="radio" name="pct">

                <nav>
                    <ul>
                        <label for="tab1">
                            <li class="tab1">Overview</li>
                        </label>
                        <label for="tab2">
                            <li class="tab2">Outages</li>
                        </label>
                        <label for="tab3">
                            <li class="tab3">Logs</li>
                        </label>
                        <label for="tab4">
                            <li class="tab4">Settings</li>
                        </label>
                    </ul>
                </nav>
                
                <section>
                    <div class="tab1">
                        <h2>Overview</h2>
                        <h3>General</h3>
                        <div class="row feature-cards">
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>US: {{ usUptime }}%</h3>
                                            <h3>IE: {{ ieUptime }}%</h3>
                                        </div>
                                        <div class="card-text">
                                            Uptime (All time)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>US: {{ usUptimeWk }}%</h3>
                                            <h3>IE: {{ ieUptimeWk }}%</h3>
                                        </div>
                                        <div class="card-text">
                                            This Week&rsquo;s Uptime
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>US: {{ usUptimeMn }}%</h3>
                                            <h3>IE: {{ ieUptimeMn }}%</h3>
                                        </div>
                                        <div class="card-text">
                                            This Month&rsquo;s Uptime
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>US: {{ usApd }} / <span title="Satisfied;Tolerated (+300ms);Frustrated (>300ms)">{{ usApdData }}</span></h3>
                                            <h3>IE: {{ ieApd }} / <span title="Satisfied;Tolerated (+300ms);Frustrated (>300ms)">{{ ieApdData }}</span></h3>
                                        </div>
                                        <div class="card-text">
                                            Apdex (All Time)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>US: {{ usApdWk }} / <span title="Satisfied;Tolerated (+300ms);Frustrated (>300ms)">{{ usApdWkData }}</span></h3>
                                            <h3>IE: {{ ieApdWk }} / <span title="Satisfied;Tolerated (+300ms);Frustrated (>300ms)">{{ ieApdWkData }}</span></h3>
                                        </div>
                                        <div class="card-text">
                                            This Week&rsquo;s Apdex
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>US: {{ usApdMn }} / <span title="Satisfied;Tolerated (+300ms);Frustrated (>300ms)">{{ usApdMnData }}</span></h3>
                                            <h3>IE: {{ ieApdMn }} / <span title="Satisfied;Tolerated (+300ms);Frustrated (>300ms)">{{ ieApdMnData }}</span></h3>
                                        </div>
                                        <div class="card-text">
                                            This Month&rsquo;s Apdex
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>US: {{ usLatency }}ms</h3>
                                            <h3>IE: {{ ieLatency }}ms</h3>
                                        </div>
                                        <div class="card-text">
                                            Average Latency
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>US: {{ usLookup }}ms</h3>
                                            <h3>IE: {{ ieLookup }}ms</h3>
                                        </div>
                                        <div class="card-text">
                                            Average Nameserver Lookup Latency
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>US: {{ usSpeed }}mbps</h3>
                                            <h3>IE: {{ ieSpeed }}mbps</h3>
                                        </div>
                                        <div class="card-text">
                                            Average Download Speed
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div [hidden]="!latencyLineChartJS">
                            <canvas id="latencyLineChart">{{ latencyLineChartJS }}</canvas>
                        </div>
                        <div [hidden]="!lookupLineChartJS">
                            <canvas id="lookupLineChart">{{ lookupLineChartJS }}</canvas>
                        </div>
                        <h3>United States</h3>
                        <div class="row feature-cards" *ngFor="let item of reqMoreDataForOverview; let i = index" [attr.data-index]="i">
                            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>{{ item["us-status"] }}</h3>
                                        </div>
                                        <div class="card-text">
                                            Status
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>{{ item["us-data"] }} bytes</h3>
                                        </div>
                                        <div class="card-text">
                                            Data Downloaded
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>{{ sslMoreAuth[i] }}</h3>
                                        </div>
                                        <div class="card-text">
                                            SSL Authority
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>{{ sslMoreExp[i] }}</h3>
                                        </div>
                                        <div class="card-text">
                                            SSL Expiry Date
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Ireland</h3>
                        <div class="row feature-cards" *ngFor="let item of reqMoreDataForOverview; let i = index" [attr.data-index]="i">
                            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>{{ item["ie-status"] }}</h3>
                                        </div>
                                        <div class="card-text">
                                            Status
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>{{ item["ie-data"] }} bytes</h3>
                                        </div>
                                        <div class="card-text">
                                            Data Downloaded
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>{{ sslMoreAuth[i+1] }}</h3>
                                        </div>
                                        <div class="card-text">
                                            SSL Authority
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title">
                                            <h3>{{ sslMoreExp[i+1] }}</h3>
                                        </div>
                                        <div class="card-text">
                                            SSL Expiry Date
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab2">
                        <h2>Outages</h2>
                        <clr-datagrid>
                            <clr-dg-placeholder>No outages!</clr-dg-placeholder>
                            <clr-dg-column>Time</clr-dg-column>
                            <clr-dg-column>
                                <ng-container *clrDgHideableColumn>Code (US / IE)</ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container *clrDgHideableColumn>Status (US / IE)</ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container *clrDgHideableColumn>Latency (US / IE)</ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container *clrDgHideableColumn>Speed (US / IE)</ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container *clrDgHideableColumn="{hidden: true}">Nameserver Lookup (US / IE)</ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container *clrDgHideableColumn="{hidden: true}">Data Downloaded (US / IE)</ng-container>
                            </clr-dg-column>
    
                            <clr-dg-row *clrDgItems="let item of outages">
                                <clr-dg-cell>{{timesForLog[item]}}</clr-dg-cell>
                                <clr-dg-cell>{{reqMoreData[item][0]["us-code"]}} / {{reqMoreData[item][0]["ie-code"]}}</clr-dg-cell>
                                <clr-dg-cell>{{reqMoreData[item][0]["us-status"]}} / {{reqMoreData[item][0]["ie-status"]}}</clr-dg-cell>
                                <clr-dg-cell>{{reqMoreData[item][0]["us-latency"]}}ms / {{reqMoreData[item][0]["ie-latency"]}}ms</clr-dg-cell>
                                <clr-dg-cell>{{reqMoreData[item][0]["us-speed"]}}mbps / {{reqMoreData[item][0]["ie-speed"]}}mbps</clr-dg-cell>
                                <clr-dg-cell>{{reqMoreData[item][0]["us-lookup"]}}ms / {{reqMoreData[item][0]["ie-lookup"]}}ms</clr-dg-cell>
                                <clr-dg-cell>{{reqMoreData[item][0]["us-data"]}} / {{reqMoreData[item][0]["ie-data"]}}</clr-dg-cell>
                            </clr-dg-row>
    
                            <clr-dg-footer>
                                <clr-dg-column-toggle>
                                    <clr-dg-column-toggle-title>Columns to show:</clr-dg-column-toggle-title>
                                    <clr-dg-column-toggle-button clrType="selectAll">Select All</clr-dg-column-toggle-button>
                                    <clr-dg-column-toggle-button clrType="ok">
                                        <clr-icon shape="check"></clr-icon>
                                    </clr-dg-column-toggle-button>
                                </clr-dg-column-toggle>
                                <clr-dg-pagination #pagination2 [clrDgPageSize]="10">
                                    {{pagination2.firstItem + 1}} - {{pagination2.lastItem + 1}} of {{pagination2.totalItems}} outages in {{pagination.totalItems}} checks
                                </clr-dg-pagination>
                            </clr-dg-footer>
                        </clr-datagrid>
                    </div>
                    <div class="tab3">
                        <h2>Logs</h2>
                        <clr-datagrid>
                            <clr-dg-placeholder>We&rsquo;re sorting the data.</clr-dg-placeholder>
                            <clr-dg-column>Time</clr-dg-column>
                            <clr-dg-column>
                                <ng-container *clrDgHideableColumn>Code (US / IE)</ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container *clrDgHideableColumn>Status (US / IE)</ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container *clrDgHideableColumn>Latency (US / IE)</ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container *clrDgHideableColumn>Speed (US / IE)</ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container *clrDgHideableColumn="{hidden: true}">Nameserver Lookup (US / IE)</ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container *clrDgHideableColumn="{hidden: true}">Data Downloaded (US / IE)</ng-container>
                            </clr-dg-column>
    
                            <clr-dg-row *clrDgItems="let item of reqMoreData; let i = index" [attr.data-index]="i">
                                <clr-dg-cell>{{timesForLog[i+pagination.firstItem]}}</clr-dg-cell>
                                <clr-dg-cell>{{item[0]["us-code"]}} / {{item[0]["ie-code"]}}</clr-dg-cell>
                                <clr-dg-cell>{{item[0]["us-status"]}} / {{item[0]["ie-status"]}}</clr-dg-cell>
                                <clr-dg-cell>{{item[0]["us-latency"]}}ms / {{item[0]["ie-latency"]}}ms</clr-dg-cell>
                                <clr-dg-cell>{{item[0]["us-speed"]}}mbps / {{item[0]["ie-speed"]}}mbps</clr-dg-cell>
                                <clr-dg-cell>{{item[0]["us-lookup"]}}ms / {{item[0]["ie-lookup"]}}ms</clr-dg-cell>
                                <clr-dg-cell>{{item[0]["us-data"]}} / {{item[0]["ie-data"]}}</clr-dg-cell>
                            </clr-dg-row>
    
                            <clr-dg-footer>
                                <clr-dg-column-toggle>
                                    <clr-dg-column-toggle-title>Columns to show:</clr-dg-column-toggle-title>
                                    <clr-dg-column-toggle-button clrType="selectAll">Select All</clr-dg-column-toggle-button>
                                    <clr-dg-column-toggle-button clrType="ok">
                                        <clr-icon shape="check"></clr-icon>
                                    </clr-dg-column-toggle-button>
                                </clr-dg-column-toggle>
                                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} checks
                                </clr-dg-pagination>
                            </clr-dg-footer>
                        </clr-datagrid>
                    </div>
                    <div class="tab4">
                        <h2>Settings</h2>
                        <form class="form">
                            <section class="form-block">
                                <label class="main">Website URL</label>
                                <div class="form-group">
                                    <label for="currentURL">Current URL</label>
                                    <label for="currentURL">
                                        <input id="currentURL" type="text" value="{{siteURLMore}}" disabled>
                                    </label>
                                </div>
                                <a class="btn btn-primary" href="{{siteURLMore}}" target="_blank">Visit Website</a>
                            </section>
                        </form>
                        <form class="form" [formGroup]="changeLatency" (ngSubmit)="changeLatencyTo(changeLatency.value)">
                            <section class="form-block">
                                <label class="main">Latency Threshold</label>
                                <div class="form-group">
                                    <label for="currentLatency">Current Latency</label>
                                    <label for="currentLatency">
                                        <input id="currentLatency" type="text" value="{{currentLatencyMore}}ms" disabled>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="changeLatencyTo">Change Latency to</label>
                                    <label for="changeLatencyTo"
                                        aria-haspopup="true"
                                        role="tooltip"
                                        class="tooltip tooltip-top-left tooltip-validation tooltip-sm"
                                        [class.invalid]="changeLatency.get('changeLatencyTo').invalid
                                            && (changeLatency.get('changeLatencyTo').dirty ||
                                            changeLatency.get('changeLatencyTo').touched)">
                                        <input id="changeLatencyTo" type="number" ng-pattern="^[0-9]*$" placeholder="1000ms = 1s"
                                            formControlName="changeLatencyTo">
                                        <span class="tooltip-content">
                                            Change Latency to is required, and must be a number
                                        </span>
                                    </label>
                                </div>
                                <p>If you change the latency threshold, apdex will be reset.</p>
                                <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="changeLatency.invalid">{{changeLatencyButton}}</button>
                            </section>
                        </form>
                        <form class="form" [formGroup]="changeWebsiteName" (ngSubmit)="changeWebsiteNameTo(changeWebsiteName.value)">
                            <section class="form-block">
                                <label class="main">Website Name</label>
                                <div class="form-group">
                                    <label for="changeWebsiteName">Current Name</label>
                                    <label for="changeWebsiteName">
                                        <input id="changeWebsiteName" type="text" value="{{moreName}}" disabled>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="changeWebsiteNameTo">Change Name to</label>
                                    <label for="changeWebsiteNameTo"
                                        aria-haspopup="true"
                                        role="tooltip"
                                        class="tooltip tooltip-top-left tooltip-validation tooltip-sm"
                                        [class.invalid]="changeWebsiteName.get('changeWebsiteNameTo').invalid
                                            && (changeWebsiteName.get('changeWebsiteNameTo').dirty ||
                                            changeWebsiteName.get('changeWebsiteNameTo').touched)">
                                        <input id="changeWebsiteNameTo" type="text" placeholder="New Name"
                                            formControlName="changeWebsiteNameTo">
                                        <span class="tooltip-content">
                                            Change Name to is required
                                        </span>
                                    </label>
                                </div>
                                <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="changeWebsiteName.invalid">{{changeWebsiteButton}}</button>
                            </section>
                        </form>
                        <form class="form" [formGroup]="deleteWebsite" (ngSubmit)="deleteWebsiteSubmit(deleteWebsite.value)">
                            <section class="form-block">
                                <label class="main">Delete Check</label>
                                <div class="form-group">
                                    <label for="confirm">Website&rsquo;s name</label>
                                    <label for="confirm"
                                        aria-haspopup="true"
                                        role="tooltip"
                                        class="tooltip tooltip-top-left tooltip-validation tooltip-sm"
                                        [class.invalid]="deleteWebsite.get('confirm').invalid
                                            && (deleteWebsite.get('confirm').dirty ||
                                            deleteWebsite.get('confirm').touched)">
                                        <input id="confirm" type="text" pattern="{{moreNameRegex}}" placeholder="Confirm deletion"
                                            formControlName="confirm">
                                        <span class="tooltip-content">
                                            What you type in must match the website&rsquo;s name
                                        </span>
                                    </label>
                                </div>
                                <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="deleteWebsite.invalid">{{deleteButton}}</button>
                            </section>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    <div class="add" [hidden]="!addDisplay">
        <div class="login-wrapper">
            <form [formGroup]="addWebsite" (ngSubmit)="addWebsiteToDB(addWebsite.value)" class="login">
                <label class="title">
                    Add new check
                    <h5 class="hint">Add a new check that Hawk can monitor</h5>
                </label>
                <div class="login-group">
                    <div class="form-group">
                        <p>URL</p>
                        <label for="url"
                                aria-haspopup="true"
                                role="tooltip"
                                class="tooltip tooltip-top-left tooltip-validation tooltip-sm"
                                [class.invalid]="addWebsite.get('url').invalid
                                    && (addWebsite.get('url').dirty ||
                                    addWebsite.get('url').touched)">
                            <input id="url" spellcheck="false" type="url" placeholder="https://usehawk.ga/" formControlName="url">
                            <span class="tooltip-content">
                                The field is empty or the URL is invalid.
                            </span>
                        </label>
                    </div>
                    
                    <div class="form-group">
                        <p>Title</p>
                        <label for="title"
                                aria-haspopup="true"
                                role="tooltip"
                                class="tooltip tooltip-top-left tooltip-validation tooltip-sm"
                                [class.invalid]="addWebsite.get('title').invalid
                                    && (addWebsite.get('title').dirty ||
                                    addWebsite.get('title').touched)">
                            <input id="title" type="text" placeholder="Hawk" formControlName="title">
                            <span class="tooltip-content">
                                A title for your website is required.
                            </span>
                        </label>
                    </div>
                    
                    <div class="form-group">
                        <p>Latency Threshold (ms)</p>
                        <label for="timeout"
                                aria-haspopup="true"
                                role="tooltip"
                                class="tooltip tooltip-top-left tooltip-validation tooltip-sm"
                                [class.invalid]="addWebsite.get('timeout').invalid
                                    && (addWebsite.get('timeout').dirty ||
                                    addWebsite.get('timeout').touched)">
                            <input id="timeout" type="number" ng-pattern="^[0-9]*$" placeholder="1000ms = 1s" formControlName="timeout">
                            <span class="tooltip-content">
                                Timeout is required.
                            </span>
                        </label>
                    </div>
                    <clr-alert [clrAlertClosable]="false" [clrAlertType]="'alert-info'">
                        <div class="alert-item">
                            <span class="alert-text">
                                For now, all checks will occur at 1 minute intervals. In the next update (v2.1) we plan on implementing custom intervals.
                            </span>
                        </div>
                    </clr-alert>
                    <clr-alert [clrAlertClosable]="false" [hidden]="!addErrorDisplay" [clrAlertType]="addErrorAlertType">
                        <div class="alert-item">
                            <span class="alert-text">
                               {{ errorMsgAdd }}
                            </span>
                        </div>
                    </clr-alert>
                    
                    <button type="submit" [disabled]="addWebsite.invalid" class="btn btn-primary">{{ addWebsiteStatus }}</button>
                    <a href="/dashboard/overview" routerLink="/dashboard/overview" class="signup" (click)="addWebsite.reset()">Return to Dashboard</a>
                </div>
            </form>
        </div>
    </div>
</section>
