<section class="page">
    <div class="hero-outer">
        <div class="hero">
            <h1>Free website uptime monitoring</h1>
            <p>Hawk is a feature-filled website uptime monitor, with 1 minute check intervals.</p>
            <div class="btn-group">
                <button routerLink="/login/new" class="btn">Login</button>
                <button routerLink="/signup" class="btn btn-primary">Sign up <clr-icon shape="arrow right"></clr-icon></button>
            </div>
        </div>
    </div>
    
    <div class="eyas">
        <h1>Eyas</h1>
        <p>100% free uptime monitoring</p>
        <h3>Features</h3>
        <div class="row feature-cards">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        Notifications
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            Get notified by email and push notifications anytime your website goes down, times out, or the latency is past the threshold.
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        Regular Checks
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            Hawk will check if your website is down, website&rsquo;s latency and if your SSL is valid every single minute minutes.
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        Extensive Stats
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            Hawk collects statistics like latency, download speed, nameserver lookup time, amount of data downloaded and more.
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        Several Locations
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            Hawk can monitor your websites from several locations, so you&rsquo;ll get different stats for each location.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pro">
        <h1><i>Pro</i></h1>
        <p>$0.00002 per interval per check. So feature rich, we can&rsquo;t say this is just an uptime monitor</p>
        <div class="alert alert-info">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                    </div>
                    <span class="alert-text">We are considering this. If you want this, please express your intrest.</span>
                    <div class="alert-actions">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfstGI8II-4zHfAJH5fCRSeKGoukHTvgWcN_rxxwjtP3zKXMQ/viewform" class="alert-action">Express Interest</a>
                    </div>
                </div>
            </div>
        </div>
        <h3>Features</h3>
        <div class="row feature-cards">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        PageFire*
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            Basically Google Analytics, but it is powered by Hawk and it integrates beautifully with our tables and graphs; also has visitor insights
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        Insights*
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            Analyzes your checks, connected resources, headers and DNS settings to help you recognize things that you can fix
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        Real Browsers
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            Hawk collects super indeth statistics from actual Google Chrome browsers, and ensures your site looks the way its supposed to
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        DoThis*
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            DoThis allows you to tell the browser what to do; and if it fails, we’ll alert you. One custom validator included. $1/month
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>That&rsquo;s not it! <a href="/pro" routerLink="/pro">Read more</a> about what we have planned for <i>Pro</i><br>* Temporary names</p>
    </div>
</section>