<section class="page">
    <div class="hero-outer">
        <div class="hero">
            <h1>Free website uptime monitoring</h1>
            <p>Hawk is a free website uptime monitor that notifies you when your website is down or the latency is high.</p>
            <div class="btn-group">
                <button routerLink="/login/new" class="btn">Login</button>
                <button routerLink="/signup" class="btn btn-primary">Sign up <clr-icon shape="arrow right"></clr-icon></button>
            </div>
        </div>
    </div>
    
    <h1>Features</h1>
    <div class="row feature-cards">
        <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    Notifications
                </div>
                <div class="card-block">
                    <!--<div class="card-title">-->
                    <!--</div>-->
                    <div class="card-text">
                        Get notified by email anytime your website goes down, the latency is high or if your website's SSL expires (SSL expiry notification coming soon).
                    </div>
                </div>
                <!--<div class="card-footer">-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 1</button>-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 2</button>-->
                <!--</div>-->
            </div>
        </div>
        
        <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    Regular Checks
                </div>
                <div class="card-block">
                    <!--<div class="card-title">-->
                    <!--</div>-->
                    <div class="card-text">
                        Hawk will check if your website is down, website's latency and if your SSL is valid every five minutes.
                    </div>
                </div>
                <!--<div class="card-footer">-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 1</button>-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 2</button>-->
                <!--</div>-->
            </div>
        </div>
        
        <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    Extensive Stats
                </div>
                <div class="card-block">
                    <!--<div class="card-title">-->
                    <!--</div>-->
                    <div class="card-text">
                        Hawk collects statistics like latency at a certain speed, nameserver lookup time, data downloaded and more.
                    </div>
                </div>
                <!--<div class="card-footer">-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 1</button>-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 2</button>-->
                <!--</div>-->
            </div>
        </div>
        
        <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    Many Locations
                </div>
                <div class="card-block">
                    <!--<div class="card-title">-->
                    <!--</div>-->
                    <div class="card-text">
                        Hawk can monitor your websites from several locations, so you'll get different stats for each location.
                    </div>
                </div>
                <!--<div class="card-footer">-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 1</button>-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 2</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    
    <h1>How does it work?</h1>
    <div class="row feature-cards">
        <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    Free Hosting
                </div>
                <div class="card-block">
                    <!--<div class="card-title">-->
                    <!--</div>-->
                    <div class="card-text">
                        Currently, Hawk runs on free hosting services like <a href="http://heliohost.org/">heliohost.org</a>, which allows us to keep Hawk free for you.
                    </div>
                </div>
                <!--<div class="card-footer">-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 1</button>-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 2</button>-->
                <!--</div>-->
            </div>
        </div>
        
        <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    PHP & cURL
                </div>
                <div class="card-block">
                    <!--<div class="card-title">-->
                    <!--</div>-->
                    <div class="card-text">
                        Hawk ulilizes PHP to make cURL requests and it sorts through the response while organizing the data.
                    </div>
                </div>
                <!--<div class="card-footer">-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 1</button>-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 2</button>-->
                <!--</div>-->
            </div>
        </div>
        
        <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    MySQL
                </div>
                <div class="card-block">
                    <!--<div class="card-title">-->
                    <!--</div>-->
                    <div class="card-text">
                        MySQL is the database that Hawk uses to store data and other statistics for each of your websites. We archive data every week, but also <a routerLink="/archive" href="/archive">post copies of a JSON file of the archived data</a>.
                    </div>
                </div>
                <!--<div class="card-footer">-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 1</button>-->
                <!--    <button class="btn btn-sm btn-link">Footer Action 2</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</section>