.page {
    .hero-outer {
        height: 91vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .hero {
            text-align: center;
            font-weight: 600;
            margin: 0 0 0 2rem;
            p {
                max-width: 600px;
                margin: 0.7rem auto 1rem auto;
            }
        }
    }
    .eyas, .pro {
        text-align: left;
        max-width: 1060px;
        margin: 0 auto;
        padding: 0 1rem;
        p {
            margin: 0;
        }
        h3 {
            padding: 0 0 0 .5rem;
        }
        .feature-cards {
            max-width: 1060px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            .col-lg-3 {
                text-align: center;
            }
        }
    }
    .pro {
        padding: 2rem 1rem;
        p {
            margin: 1rem 0 0 0;
            &:first-of-type {
                margin: 0;
            }
        }
    }
    @media (max-width: 992px) {
        .hero-outer {
            .hero {
                margin: 0;
            }
        }
        .feature-cards {
            margin: 0;
        }
    }
}